body {
    font-family:Arial, Helvetica, sans-serif;
    height: 100vh;
    background-image: url("./images/loading.gif");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
}

.copyright-container {
    text-align: left;
    font-size: .5em;
}

.header-container {
    background-color: hsla(0, 0%, 0%, 0.3);
    padding: .2em 2em;
}

.explanation-container {
    background-color: hsla(0, 0%, 0%, 0.3);
    padding: 1em 10em;
    position: absolute;
    bottom: 1em;
    line-height: 1.2;
}

.videoBackgroundOff {
    display: none;
}

.videoBackgroundOn {
    border: none;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    display: block;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}